<div class="container-fluid statistic text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="statistic-box">
                    <div class="statistic-number">98%</div>
                    <div class="statistic-description">Tỷ Lệ Ghép Gan Thành Công</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic-box">
                    <div class="statistic-number">9000+</div>
                    <div class="statistic-description">Số Ca Ghép Gan Tính Đến Năm 2025</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic-box">
                    <div class="statistic-number">Số 1</div>
                    <div class="statistic-description">Đứng Đầu Thế Giới Về Ghép Gan</div>
                </div>
            </div>
        </div>
    </div>
</div>