<div class="container mt-30" id="cau-hoi">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/Ghep-gan-o-dau-tot-nhat.jpg" />
        </div>
        <div class="col-md-6">
            <p class="heading text-center">Ghép gan ở đâu tốt nhất?</p>
            <div class="hospital-list">
                <ol>
                    <li><u>Bệnh viện trung tâm Asan:</u></li>
                </ol>
                <p>
                    Bệnh viện trung tâm Asan (Asan Medical Center - AMC) là Bệnh viện Ghép Gan số 1 Thế Giới và là một trong năm Trung Tâm Ung Thư tốt nhất toàn cầu năm 2021 (theo tạp chí Newsweek). Ngoài ra, bệnh viện còn sở hữu đội ngũ các giáo sư,
                    bác sĩ có kinh nghiệm dày dặn trong lĩnh vực Ghép Gan và ghép tạng, tiêu biểu là Tiến sĩ, Bác sĩ Lee Sung-gyu – Chuyên gia hàng đầu Thế Giới trong lĩnh vực ghép gan và bác sĩ Song Gi-won – Người chuyên hỗ trợ các ca phẫu thuật
                    Ghép Gan tại Việt Nam. Đồng thời AMC cũng là đơn vị&nbsp;hỗ trợ trực tiếp cho bệnh viện Chợ rẫy, Đại học Y dược, bệnh viện Trung ương Huế trong Ghép Gan.
                </p>
                <ol start="2">
                    <li><u> Bệnh viện Chang Gung:</u></li>
                </ol>
                <p>
                    Bệnh viện Chang Gung là một trong những bệnh viện có kỹ thuật Ghép Gan hàng đầu Đài Loan với tỷ lệ sống lâu dài là 95.1% (1 năm) và 91.2% (5 năm). Có được con số này là nhờ vào sự góp mặt của Giáo sư Chao Long Chen – một trong những
                    người tiên phong trong lĩnh vực Ghép Gan khi phẫu thuật thành công ca Ghép Gan đầu tiên Châu Á.
                </p>
                <p>
                    Với cương vị là đại diện Bệnh viện ASAN và Chang Gung tại Việt Nam, MANAM đã cho ra đời website chính thức nhằm hỗ trợ và cung cấp toàn bộ thông tin chính thống về Ghép Gan. Đồng thời, chúng tôi sẽ liên lục cập nhật&nbsp;những thông
                    tin mới nhất và chính xác về điều trị Ghép Gan tại Hàn Quốc và Đài Loan, đặc biệt là Bệnh viện ASAN Và Bệnh viện Chang Gung, giúp cho bệnh nhân Việt Nam có thêm cơ hội trong việc điều trị bệnh tại Hàn Quốc và Đài Loan với dịch
                    vụ và hỗ trợ tốt nhất.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-30">
    <div class="row bg-1e">
        <div class="col-md-12">
            <h2 class="sub-heading text-center mt-30">Thông Tin</h2>
            <h2 class="heading text-center">Thắc Mắc Thường Gặp</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/images/ghep-gan.png" />
                        <div class="accordion mt-5 question-list" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Tại sao bệnh nhân nên ghép gan tại ASAN thay vì tại Việt Nam với sự hỗ trợ từ bệnh viện ASAN?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <span style="color: #016869;">Nếu bệnh nhân và gia đình không quan trọng chi phí điều trị và chủ động tài chính, bệnh nhân sẽ được <strong>sự chăm sóc tốt nhất</strong> trực tiếp từ bệnh viện ASAN với <strong>thời gian nhanh hơn</strong> và <strong>tỉ lệ sống sót cao hơn</strong>, thời gian tiến hành ghép là 01 tháng kể từ lúc sang. Tỉ lệ thành công được ghi nhận hơn 6000 trường hợp so với ở Việt Nam, làm chủ được kĩ thuật. Bệnh viện tập hợp các chuyên gia hàng đầu không chỉ trong kĩ thuật ghép, mà cơ sở vật chất hiện đại trong việc hỗ trợ liên quan đến gan và ghép gan. Ở Việt Nam thì chỉ có một bác sĩ Hàn Quốc sang hỗ trợ.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Tại sao bệnh viện trung tâm ASAN là bệnh viện tốt nhất tại Hàn Quốc trong việc ghép gan?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p><span style="color: #016869;">-<strong> Toàn diện</strong>: Bệnh viện trung tâm ASAN (ASAN Medical Center - AMC) là cơ sở y tế lớn nhất và tốt nhất của Hàn Quốc, nằm ở phía đông của Seoul, với 2.700 giường bệnh, 67 phòng mổ, với 1.700 bác sĩ và bác sĩ phẫu thuật, 3.600 y tá, 24 trung tâm và 42 chuyên khoa điều trị.</span></p>
                                        <p><span style="color: #016869;">- <strong>Thành công</strong>: Được thành lập vào năm 1991, Trung tâm Ghép tạng AMC đã thực hiện thành công ca cấy ghép tim đầu tiên của Hàn Quốc và ca ghép gan đầu tiên trên thế giới, cùng với đó là các ca ghép thận và tuyến tụy, giúp cho bệnh viện ASAN trở thành một bệnh viện hàng đầu thế giới trong lĩnh vực này. Với 41 bác sĩ tại trung tâm, dưới sự giám sát của giám đốc - Giáo sư Sung Gyu Lee chuyên gia hàng đầu về ghép tạng trên thế giới.</span></p>
                                        <p><span style="color: #016869;">- Trung tâm y tế Asan đã <strong>dẫn đầu sự phát triển y tế của Hàn Quốc</strong> bằng cách làm hài lòng khách hàng vì được trang bị các chuyên gia y tế đẳng cấp thế giới và hệ thống điều trị tối ưu dựa trên các hệ thống y tế tiên tiến cũng như thiết bị y tế tiên tiến.</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Tại sao nên liên lạc MANAM nếu bệnh nhân có nhu cầu ghép gan tại ASAN?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <span style="color: #016869;">Khác với các đơn vị dịch vụ thông thường, là văn phòng Ủy nhiệm nhận bệnh chính thức của hai bệnh viện ghép gan hàng đầu thế giới là Bệnh viện trung tâm ASAN (Hàn Quốc) và Bệnh viện Chang Gung (Đài Loan); MANAM giúp bệnh nhân Việt Nam rút ngắn thời gian chờ đợi, đơn giản hóa thủ tục và hạn chế tối đa những chi phí phát sinh không cần thiết trong suốt quá trình ghép gan. Nói không với phí dịch vụ và thậm chí có thể yêu cầu trợ giá cho bệnh nhân. Duy nhất MANAM chọn lựa được bác sĩ hàng đầu thông qua kênh chính thống. Đồng thời, bệnh nhân còn nhận được tư vấn toàn diện từ đội ngũ chuyên môn về những vấn đề kế hoạch điều trị liên quan đến tình trạng bệnh trước và sau ghép; trao đổi liên tục với phía bệnh viện và bác sĩ phụ trách.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Yêu cầu người hiến gan phải như thế nào?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul style="list-style-type: disc;">
                                            <li><span style="color: #016869;">Hoàn toàn tự nguyện</span></li>
                                            <li><span style="color: #016869;">Sức khỏe tốt – về cả thể chất lẫn tinh thần</span></li>
                                            <li><span style="color: #016869;">Độ tuổi từ 18 – 60</span></li>
                                            <li><span style="color: #016869;">Chỉ số BMI dưới 35</span></li>
                                            <li><span style="color: #016869;">Nhóm máu tương thích với người nhận</span></li>
                                            <li><span style="color: #016869;">Không mắc bệnh liên quan đến nội tạng, ví dụ như&nbsp;bệnh tim hay sỏi thận…</span></li>
                                            <li><span style="color: #016869;">Không bị ung thư, HIV hay viêm gan</span></li>
                                            <li><span style="color: #016869;">Không bị nhiễm trùng mãn tính</span></li>
                                            <li><span style="color: #016869;">Không lạm dụng chất kích thích</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Thời gian nằm viện là bao lâu?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul style="list-style-type: disc;">
                                            <li><span style="color: #016869;">Người nhận: 6-8 tuần</span></li>
                                            <li><span style="color: #016869;">Người hiến 1-2 tuần</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Chi phí ước tính là bao nhiêu?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li><span style="color: #016869;">Từ 250.000 USD-280.000 USD, nhưng khi <strong>thông qua dịch vụ MANAM</strong>, chi phí chỉ còn khoảng <strong>150.000 USD</strong> (tầm 4.000.000.000 VND)</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-5">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Ghép gan có cần tương thích nhóm máu?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p><span style="color: #016869;">(Khuyến khích là nên) nhưng với trình độ cao thì không cần tương thích nhóm máu tại bệnh viện Asan Hàn Quốc</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>