<div class="container-fluid general" id="tong-quan">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="~/images/tongquan.jpg" />
        </div>
        <div class="col-md-6">
            <div class="general-content">
                <span class="sub-heading">Thông Tin</span>
                <h2 class="heading">Tổng Quan</h2>
                <p style="text-align: center;">
                    <span>GHÉP GAN – PHƯƠNG ÁN TỐT NHẤT GIẢI QUYẾT HẦU HẾT BỆNH LÝ KHÓ VỀ GAN</span>
                </p>
                <p>
                    <span style="color: #008080;">
                        Đừng vội
                        từ bỏ khi chưa cân nhắc đến Ghép Gan một cách hoàn toàn chủ động, dễ dàng và dứt điểm bệnh
                        trên 90% tại nước ngoài.
                    </span>
                </p>
                <p><span style="color: #003366;">Bạn có biết?</span></p>
                <p><span style="color: #008080;">Gan người hiến (người cho) sẽ hồi phục 70-90% sau 1 năm, và là cơ quan duy nhất trên cơ thể có thể tái tạo (mọc lại)</span></p>
                <p><span style="color: #003366;">Tỷ lệ sống và tuổi thọ trung bình sau Ghép Gan tại Bệnh Viện Trung Tâm Asan - Hàn Quốc?</span></p>
                <p><span style="color: #008080;">Bệnh Viện Trung Tâm Asan ghi nhận tỷ lệ Ghép Gan thành công lên đến 98% với thời gian sống trung bình trên 5 năm lên đến 30 năm.</span></p>
                <p><span style="color: #008080;">Đây cùng là bệnh viện duy nhất trên thế giới đảm bảo tỷ lệ an toàn tuyệt đối của người hiến là 100% (với 0 ca biến chứng trên gần 7000 trường hợp).</span></p>
                <p class="text-start"><span style="color: #000000;"><strong>Ghép Gan</strong> là một thủ thuật lớn để loại bỏ gan bị suy giảm chức năng trong cơ thể bệnh nhân và thay thế nó bằng một hoặc một phần gan của người khỏe mạnh.&nbsp;Điều này được thực hiện khi gan suy giảm chức năng không thể can thiệp nội khoa đe dọa tính mạng gây ra bởi các bệnh lý về gan như U gan, Xơ gan, bệnh gan giai đoạn cuối... Ghép Gan thường rất khó nhưng hiệu quả rất cao.</span></p>
                <p class="text-start">
                    <span>
                        <span style="color: #008080;">1. Hạn chế trong nước: </span>Với trình độ kỹ thuật yếu và đi sau, mới tiếp nhận và còn phụ thuộc sự hỗ trợ từ đội ngũ các bác sĩ nước ngoài, Việt Nam chưa thể hoàn toàn làm chủ kỹ thuật dẫn đến
                        giới hạn số lượng ca ghép gan và đặc biệt tỷ lệ thành công thấp. Do đó, mỗi năm có hàng ngàn bệnh nhân mắc các bệnh lý nghiêm trọng về gan bị bỏ qua phương án Ghép Gan tốt nhất.
                    </span>
                </p>
                <p class="text-start">
                    <span>
                        <span style="color: #008080;">2. Tỷ lệ thành công: </span>Ghép Gan người hiến sống thành công ở Việt Nam rất thấp, trong khi tỷ lệ này ở bệnh viện Asan Hàn Quốc và Chang Gung Đài Loan lần lượt là 98% &amp; 96% trên số lượng hàng
                        nghìn ca. Ở Việt Nam, tại một vài bệnh viện bệnh nhân sẽ có thể tìm nguồn ngoài nhưng không&nbsp; được biết rằng với quan hệ trực hệ càng gần thì tỷ lệ thành công càng cao. Khi độ tương thích thấp giữa những người xa lạ thì nguy
                        cơ thải ghép và tử vong là hơn 50%.
                    </span>
                </p>
                <p class="text-start">
                    <span>
                        <span style="color: #008080;">3. Quản lý sau phẫu thuật quyết định:</span> Đại đa số các phẫu thuật khác, rủi ro xảy ra ngay trong lúc phẫu hoặc ngay sau khi phẫu. Nhưng riêng Ghép Gan, tỷ lệ nguy cơ sẽ đạt đỉnh trong giai đoạn
                        từ 1 tháng - 12 tháng sau ghép. Gần như toàn bộ các ca Ghép Gan đều gặp phải vấn đề sau ghép đòi hỏi đội ngũ có trình độ chuyên môn cao nhất, đầy kinh nghiệm và trang bị kĩ thuật đủ để xử lý triệt để. Quản lý hậu phẫu đóng góp
                        hơn một nửa tỷ lệ thành công - điều kiện mà y tế trong nước không thể sánh kịp và bệnh nhân thường bỏ qua khi cân nhắc.
                    </span>
                </p>
                <p class="text-start">
                    <span>
                        <span style="color: #008080;">4. Lựa chọn sống còn: </span>Tại nước ngoài, tỷ lệ thành công cao bởi quy trình kiểm tra nghiêm ngặt trước và sau ghép cộng với trình độ y học đi trước toàn diện và kĩ thuật đầy đủ đa chuyên khoa.
                        Bệnh nhân cần sáng suốt lựa chọn, hiểu rõ quy trình cũng như những rủi ro và không đánh đổi sự sống của bản thân bằng những lựa chọn tùy ý. Nơi bệnh nhân và người hiến có thể được đảm bảo không tử vong, để hành trình Ghép Gan không
                        kết thúc vô nghĩa sau nhiều nỗ lực.&nbsp;
                    </span>
                </p>

            </div>

        </div>
    </div>
</div>