<div class="container-fluid mt-1" id="van-de">
    <div class="row bg-1e">
        <div class="col-md-6">
            <h2 class="sub-heading text-center mt-30">Kênh Hỗ Trợ Thông Tin Ghép Gan</h2>
            <h2 class="heading text-center">Các Vấn Đề Bệnh Nhân Phải Đối Mặt Sau Ghép Gan</h2>
            <div class="problems-content">
                <p>
                    Người nhận gan đóng góp trực tiếp vào sự thành công của toàn bộ ca quá trình ghép. Không tuân thủ phác đồ ức chế miễn dịch là nguyên nhân số một dẫn đến suy nội tạng. Theo dõi chặt chẽ với đội ngũ thực hiện cấy ghép và bác sĩ quản
                    lý chính sau ghép giúp đảm bảo kết quả phục hồi. Chú ý cẩn thận đến việc dùng thuốc, thay đổi lối sống, các kỹ thuật tránh nhiễm trùng đều là những cách quan trọng để duy trì cuộc sống khỏe mạnh sau khi ghép gan.
                </p>
                <p>Những nguy cơ sau ghép dẫn đến tử vong nếu không quản lý tốt ở trình độ cao nhất:</p>
                <p>- Hai trong số những biến chứng nghiêm trọng thường gặp nhất sau khi Ghép Gan:</p>
                <ul>
                    <li>
                        Thải ghép (Từ chối): Hệ thống miễn dịch hoạt động để tiêu diệt các thành phần lạ xâm nhập cơ thể bạn. Tuy nhiên, hệ thống miễn dịch không thể phân biệt sự khác biệt giữa gan được cấy ghép và những tế bào gây hại, vì vậy nó cố gắng
                        tấn công và phá hủy phần gan mới được cấy vào. Đây được gọi là đào thải ghép - rủi ro xấu nhất trong ghép gan thường gặp tại Việt Nam, nhất là trong ghép gan người hiến sống và không cùng trực hệ. Thống kê ở các viện lớn, hơn
                        30% tổng số bệnh nhân ghép gan bị đào thải nội tạng ở mức độ nhẹ đến nặng trong năm đầu tiên. Bệnh nhân sẽ được cho dùng thuốc chống thải ghép để tránh sự tấn công của hệ thống miễn dịch, tuy nhiên ở những trường hợp khó đòi
                        hỏi nhiều hơn thế. Nếu không là bệnh viện Asan khả năng xử lý sẽ rất kém dẫn đến tử vong.
                    </li>
                    <li>
                        Nhiễm trùng: Do thuốc chống thải ghép ức chế hệ thống miễn dịch, bệnh nhân ghép gan có nhiều nguy cơ bị nhiễm trùng. Vấn đề này giảm dần theo thời gian do đó phải quản lý kĩ, chặt chẽ. Không phải tất cả bệnh nhân đều gặp vấn đề
                        với nhiễm trùng và hầu hết các bệnh nhiễm trùng đều có thể được điều trị thành công khi nguy cơ này xảy ra với các cơ sở ghép gan chuyên môn cao.
                    </li>
                </ul>
                <p>- Ngoài ra còn có những rủi ro nguy hiểm ít thường gặp hơn như:</p>
                <ul>
                    <li>
                        Biến chứng: Chảy máu (trong ổ bụng từ tổn thương mạch máu lớn hoặc vết mổ). Nhiễm trùng: viêm phổi, nhiễm trùng đường tiểu hay vết mổ: liên quan tình trạng ức chế miễn dịch, áp xe tồn dư...; Suy gan cấp: thải ghép cấp - nguy cơ
                        phải lọc máu, lọc huyết tương. Thải ghép mạn, suy thận mạn. Hẹp đường mật, tắc động mạch hay tĩnh mạch gan, tĩnh mạch cửa do hẹp hoặc do huyết khối. Các biến chứng do dùng thuốc thải ghép. Biến chứng ngoại khoa: Tắc ruột, thoát
                        vị vết mổ, viêm phổi, huyết khối tĩnh mạch sâu.
                    </li>
                    <li>
                        Ngoài các biến chứng có thể gặp phải nêu trên còn có thể gặp các vấn đề khác. Đau bụng: đau vết mổ và vùng mổ bên trong. Chậm nhu động ruột: bụng chướng, đầy hơi, chậm trung tiện. Có thể gặp tràn dịch màng phổi phải phản ứng. Tràn
                        dịch ổ bụng do báng hoặc dò mật sau mổ. Nhiễm trùng, áp xe dưới hoành. Tắc mạch huyết khối tĩnh mạch sau trường hợp nằm lâu ngày...
                    </li>
                    <li>
                        Phần lớn người Ghép Gan phục hồi sau phẫu thuật, có thể đi làm và sinh hoạt bình thường. Nhưng cũng có một số khác có những vấn đề ngay sau phẫu thuật hoặc sau một vài năm:
                        <ul style="list-style-type: square;">
                            <li>Đào thải lá gan mới: Mội số bệnh nhân mặc dù đã uống thuốc chống đào thải, cơ thể vẫn không tiếp nhận lá gan mới</li>
                            <li>Bệnh gan tái phát: Có một số bệnh gan có thể tái phát sau cấy ghép</li>
                            <li>
                                Tác dụng phụ của thuốc chống đào thải: Thuốc có tác dụng phụ trong thời gian ngắn. Ví dụ, thuốc làm tăng nguy cơ bị nhiễm trùng. Thuốc cũng có những tác dụng phụ lâu dài. Ví dụ, thuốc có thể làm tăng nguy cơ mắc phải của
                                một số loại ung thư.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="~/images/van-de-thuong-gap.png" />
        </div>
    </div>
</div>