body {
    font-family: 'Noto Serif', sans-serif;
}

.liver-transplantation-navigation {
    background-color: #ffffff;
}

.liver-transplantation-navigation .scrolling {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 15px 1px;
}

.liver-transplantation-navigation ul li {
    padding: 10px;
}

.liver-transplantation-navigation ul li a {
    text-transform: uppercase;
    color: #333333 !important;
    font-weight: 600;
    font-size: 0.9rem;
}

.liver-transplantation-navigation ul li a:hover {
    color: #30ADC5 !important;
}

.statistic {
    background-color: #F7F7F7;
}

.statistic-box {
    padding: 30px;
}

.statistic-number {
    color: #016869 !important;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.statistic-description {
    color: #cfaf56;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
}

.sub-heading {
    font-size: 13px;
    color: #016869 !important;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 3px;
    padding-bottom: 10px;
    background-position: bottom !important;
    background: url(../images/icon-title-o.png) no-repeat 0 100%;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.general-content {
    padding: 10px;
    text-align: center;
}

.general-content p {
    font-size: 10pt;
}

.heading {
    color: #a37d2e !important;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 50px;
    margin-top: 20px;
}

.introduce-content {
    text-align: center;
    color: #555555;
    font-size: 13px;
    line-height: 1.7;
    margin: auto;
}

.introduce-content img {
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.bg-1e {
    background-color: #1E1E1E
}

.procedure-content {
    color: #EAEAEA;
    font-size: 13px;
}

.hospital-list {
    color: #000000;
    font-size: 13px;
    line-height: 27px;
}

.question-list .accordion-item {
    font-weight: 600;
    margin-top: 5px;
}

.problems-content {
    color: #EAEAEA;
    font-size: 13px;
    padding: 20px;
}

.news .card-title a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #333333;
}

.news .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.news .card-title a:hover {
    color: #0F6FC6;
}

.news .card-body {
    font-size: 14px;
    color: #333333;
    height: 178px;
    overflow: hidden;
}

.company-footer {
    padding: 20px;
    font-size: 14px;
    line-height: 25px;
    color: #EAEAEA;
}

.company-footer a {
    text-decoration: none;
    color: #EAEAEA;
}

.footer {
    color: #EAEAEA;
    font-size: 14px;
}

.company-footer img {
    width: 150px;
    height: 100px;
}

.navigation-footer {
    padding: 20px;
    padding-top: 50px;
}

.navigation-footer .list-group .list-group-item {
    background-color: #1E1E1E;
    padding-left: 0px;
}

.navigation-footer .list-group .list-group-item a {
    color: #EAEAEA;
    text-decoration: none;
}

.navigation-partner {
    padding: 20px;
    padding-top: 50px;
    text-align: center;
}

.navigation-partner img {
    height: 200px;
    width: 200px;
}

.color-green {
    color: #008080;
}

.bg-green {
    background-color: #008080;
    color: #EAEAEA;
}

.owl-carousel .item img {
    height: 75vh;
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: none;
}

.owl-carousel-caption {
    padding: 20px;
    background-color: #F2FFFE;
    position: absolute;
    top: 250px;
    left: 350px;
    width: 550px;
    height: 240px;
    border-radius: 20px;
    color: #a37d2e;
}

.slide-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.slide-name {
    font-size: 60px;
    font-weight: 700;
}

.slide-description {
    font-size: 16px;
    font-weight: 700;
}

.news-item .card-title a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.news-item .card-title a:hover {
    color: #0F6FC6;
}

.news-item .card-text {
    font-size: 13px;
}

.news-item {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}

.breadcrumb .breadcrumb-item {
    font-size: 14px;
    margin-top: 10px;
}

.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #6c757d;
}

.news img {
    height: 250px;
}

#mySidenav div {
    position: fixed;
    right: -205px;
    transition: 0.3s;
    width: 280px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 9999;
}

    #mySidenav div:hover {
        right: 0;
    }

#contact {
    top: 200px;
}

.ssb-light-hover li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ssb-light-hover a {
    transition: all 0.5s ease 0s;
    text-decoration: none;
    outline: none;
    color: #fff;
}


@media only screen and (max-width: 992px) {
    .owl-carousel-caption {
        top: 300px;
        left: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .owl-carousel-caption {
        top: 30%;
        left: 0;
        width: 100%;
    }
    .slide-name {
        font-size: 40px;
        font-weight: 700;
    }
    .slide-description {
        text-align: center;
        font-size: 20px;
    }
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 100%;
    }
}