<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#30adc5" />
    <title>GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới</title>
    <meta property="og:url" content="https://ghepgan.vn/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta property="og:description" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta name="twitter:title" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta name="description" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/style.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light liver-transplantation-navigation">
            <div class="container-fluid" id="nagivation-container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.png" width="100" height="70" alt="" />
                </a>
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.jpg" width="80" height="80" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tổng Quan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giải Pháp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Quy Trình Thủ Tục</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Câu Hỏi Thường Gặp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Vấn Đề Sau Ghép</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    <div class="container-fluid">
        <div class="owl-carousel owl-theme" id="owl-carousel">
            <div class="item">
                <img src="~/images/slide-1.jpg" class="w-100" alt="...">
                <div class="owl-carousel-caption">
                    <p class="slide-heading">Kênh Thông Tin Ghép Gan</p>
                    <p class="slide-name"><span class="color-green">ASAN</span> - MANAM</p>
                    <p class="slide-description">KÊNH HỖ TRỢ CHÍNH THỨC <span style="color: #016869;">BỆNH VIỆN ASAN</span> TẠI VIỆT NAM</p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/slide-2.jpg" class="w-100" alt="...">
                <div class="owl-carousel-caption">
                    <p class="slide-heading">Kênh Thông Tin Ghép Gan</p>
                    <p class="slide-name"><span class="color-green">ASAN</span> - MANAM</p>
                    <p class="slide-description">KÊNH HỖ TRỢ CHÍNH THỨC <span style="color: #016869;">BỆNH VIỆN ASAN</span> TẠI VIỆT NAM</p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/slide-3.jpg" class="w-100" alt="...">
                <div class="owl-carousel-caption">
                    <p class="slide-heading">Kênh Thông Tin Ghép Gan</p>
                    <p class="slide-name"><span class="color-green">ASAN</span> - MANAM</p>
                    <p class="slide-description">KÊNH HỖ TRỢ CHÍNH THỨC <span style="color: #016869;">BỆNH VIỆN ASAN</span> TẠI VIỆT NAM</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#owl-carousel').owlCarousel({
                 loop: true,
                 autoplay: true,
                 autoplayTimeout: 5000,
                 items: 1,
                 responsive: {
                     0: {
                         items: 1,
                     },
                     600: {
                         items: 1,
                     },
                     1000: {
                         items: 1,
                     }
                 }
             })
    </script>
    <div class="container-fluid statistic text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="statistic-box">
                        <div class="statistic-number">98%</div>
                        <div class="statistic-description">Tỷ Lệ Ghép Gan Thành Công</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistic-box">
                        <div class="statistic-number">6800+</div>
                        <div class="statistic-description">Số Ca Ghép Gan Tính Đến Năm 2018</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistic-box">
                        <div class="statistic-number">Số 1</div>
                        <div class="statistic-description">Đứng Đầu Thế Giới Về Ghép Gan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid general">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="~/images/tongquan.jpg" />
            </div>
            <div class="col-md-6">
                <div class="general-content">
                    <span class="sub-heading">Thông Tin</span>
                    <h2 class="heading">Tổng Quan</h2>
                    <p style="text-align: center;">
                        <span>GHÉP GAN – PHƯƠNG ÁN TỐT NHẤT GIẢI QUYẾT HẦU HẾT BỆNH LÝ KHÓ VỀ GAN</span>
                    </p>
                    <p>
                        <span style="color: #008080;">
                            Đừng vội
                            từ bỏ khi chưa cân nhắc đến Ghép Gan một cách hoàn toàn chủ động, dễ dàng và dứt điểm bệnh
                            trên 90% tại nước ngoài.
                        </span>
                    </p>
                    <p><span style="color: #003366;">Bạn có biết?</span></p>
                    <p><span style="color: #008080;">Gan người hiến (người cho) sẽ hồi phục 70-90% sau 1 năm, và là cơ quan duy nhất trên cơ thể có thể tái tạo (mọc lại)</span></p>
                    <p><span style="color: #003366;">Tỷ lệ sống và tuổi thọ trung bình sau Ghép Gan tại Bệnh Viện Trung Tâm Asan - Hàn Quốc?</span></p>
                    <p><span style="color: #008080;">Bệnh Viện Trung Tâm Asan ghi nhận tỷ lệ Ghép Gan thành công lên đến 98% với thời gian sống trung bình trên 5 năm lên đến 30 năm.</span></p>
                    <p><span style="color: #008080;">Đây cùng là bệnh viện duy nhất trên thế giới đảm bảo tỷ lệ an toàn tuyệt đối của người hiến là 100% (với 0 ca biến chứng trên gần 7000 trường hợp).</span></p>
                    <p class="text-start"><span style="color: #000000;"><strong>Ghép Gan</strong> là một thủ thuật lớn để loại bỏ gan bị suy giảm chức năng trong cơ thể bệnh nhân và thay thế nó bằng một hoặc một phần gan của người khỏe mạnh.&nbsp;Điều này được thực hiện khi gan suy giảm chức năng không thể can thiệp nội khoa đe dọa tính mạng gây ra bởi các bệnh lý về gan như U gan, Xơ gan, bệnh gan giai đoạn cuối... Ghép Gan thường rất khó nhưng hiệu quả rất cao.</span></p>
                    <p class="text-start">
                        <span>
                            <span style="color: #008080;">1. Hạn chế trong nước: </span>Với trình độ kỹ thuật yếu và đi sau, mới tiếp nhận và còn phụ thuộc sự hỗ trợ từ đội ngũ các bác sĩ nước ngoài, Việt Nam chưa thể hoàn toàn làm chủ kỹ thuật dẫn đến
                            giới hạn số lượng ca ghép gan và đặc biệt tỷ lệ thành công thấp. Do đó, mỗi năm có hàng ngàn bệnh nhân mắc các bệnh lý nghiêm trọng về gan bị bỏ qua phương án Ghép Gan tốt nhất.
                        </span>
                    </p>
                    <p class="text-start">
                        <span>
                            <span style="color: #008080;">2. Tỷ lệ thành công: </span>Ghép Gan người hiến sống thành công ở Việt Nam rất thấp, trong khi tỷ lệ này ở bệnh viện Asan Hàn Quốc và Chang Gung Đài Loan lần lượt là 98% &amp; 96% trên số lượng hàng
                            nghìn ca. Ở Việt Nam, tại một vài bệnh viện bệnh nhân sẽ có thể tìm nguồn ngoài nhưng không&nbsp; được biết rằng với quan hệ trực hệ càng gần thì tỷ lệ thành công càng cao. Khi độ tương thích thấp giữa những người xa lạ thì nguy
                            cơ thải ghép và tử vong là hơn 50%.
                        </span>
                    </p>
                    <p class="text-start">
                        <span>
                            <span style="color: #008080;">3. Quản lý sau phẫu thuật quyết định:</span> Đại đa số các phẫu thuật khác, rủi ro xảy ra ngay trong lúc phẫu hoặc ngay sau khi phẫu. Nhưng riêng Ghép Gan, tỷ lệ nguy cơ sẽ đạt đỉnh trong giai đoạn
                            từ 1 tháng - 12 tháng sau ghép. Gần như toàn bộ các ca Ghép Gan đều gặp phải vấn đề sau ghép đòi hỏi đội ngũ có trình độ chuyên môn cao nhất, đầy kinh nghiệm và trang bị kĩ thuật đủ để xử lý triệt để. Quản lý hậu phẫu đóng góp
                            hơn một nửa tỷ lệ thành công - điều kiện mà y tế trong nước không thể sánh kịp và bệnh nhân thường bỏ qua khi cân nhắc.
                        </span>
                    </p>
                    <p class="text-start">
                        <span>
                            <span style="color: #008080;">4. Lựa chọn sống còn: </span>Tại nước ngoài, tỷ lệ thành công cao bởi quy trình kiểm tra nghiêm ngặt trước và sau ghép cộng với trình độ y học đi trước toàn diện và kĩ thuật đầy đủ đa chuyên khoa.
                            Bệnh nhân cần sáng suốt lựa chọn, hiểu rõ quy trình cũng như những rủi ro và không đánh đổi sự sống của bản thân bằng những lựa chọn tùy ý. Nơi bệnh nhân và người hiến có thể được đảm bảo không tử vong, để hành trình Ghép Gan không
                            kết thúc vô nghĩa sau nhiều nỗ lực.&nbsp;
                        </span>
                    </p>

                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="sub-heading text-center mt-30">Kênh Hỗ Trợ Thông Tin Ghép Gan</h2>
                <div class="introduce-content">
                    <h2 class="heading">Ghép Gan</h2>
                    <img src="~/images/ti-le-song.png" />
                    <p>AMC (ASAN MEDICAL CENTER): Bệnh viện trung tâm ASAN</p>
                    <p>KONOS (KOREAN NETWORK FOR ORGAN SHARING): Mạng lưới chia sẻ cơ quan nội tạng ở Hàn Quốc</p>
                    <p>UNOS (UNITED NETWORK FOR ORGAN SHARING): Mạng lưới chia sẻ cơ quan nội tạng ở Hoa Kỳ</p>
                    <p>
                        Gan là một cơ quan quan trọng để duy trì sự sống. Các chức năng của nó rất đa dạng và phức tạp mà không có thiết bị nhân tạo nào có thể thay thế nó. Do đó, cách duy nhất để điều trị bệnh nhân mắc bệnh gan giai đoạn cuối là Ghép Gan.
                        Bệnh Viện Asan Hàn Quốc đã thành công trong ca Ghép Gan cho người hiến gan sống đầu tiên vào năm 1994.
                    </p>
                    <img src="~/images/thoi-gian-ghep-gan.png" />
                    <ul class="text-start mt-2">
                        <li>
                            <strong><span style="font-size: 12pt;">Giải pháp điều trị bệnh</span></strong>
                            <ul style="list-style-type: circle;">
                                <li>
                                    Người nhận
                                    <ul style="list-style-type: square;">
                                        <li>
                                            Bệnh nhân trưởng thành mắc các bệnh gan giai đoạn cuối như xơ gan, ung thư gan và suy gan cấp tính cấp tính và bệnh nhân nhi bị xơ gan bẩm sinh, viêm đường mật và bệnh gan chuyển hóa đều là chỉ định cho ghép gan.
                                            Việc người nhận có phải là ứng cử viên tốt cho ghép gan hay không được xác định bằng cách kiểm tra và phân tích từng bệnh nhân.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Người hiến
                                    <ul style="list-style-type: square;">
                                        <li>
                                            Gan là một cơ quan có thể được ghép một phần hoặc toàn bộ. Bệnh nhân có thể nhận được một phần gan từ các thành viên gia đình hoặc toàn bộ gan từ bệnh nhân chết não. Người hiến gan còn lại tái sinh, cho phép người
                                            hiến có một cuộc sống khỏe mạnh bình thường mà không gặp rủi ro. Một người cho và người nhận phải có cùng bản dựng và phải có nhóm máu tương thích, và khả năng hiến được xác định sau khi kiểm tra kỹ lưỡng. Một
                                            người hiến tặng có chức năng gan bình thường và khỏe mạnh đủ tiêu chuẩn là một ứng cử viên hiến tặng miễn là gan không bị bệnh, nhiễm trùng và ung thư. Nếu nhóm máu của người cho và người nhận không tương thích,
                                            trao đổi huyết tương trị liệu trước phẫu thuật có thể được thực hiện. Chuyên gia hàng đầu tại Hàn Quốc về Ghép Gan
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="text-start mt-2">
                        <li>
                            <strong><span style="font-size: 12pt;">Bệnh viện ghép gan tốt nhất thế giới</span></strong>
                        </li>
                    </ul>
                    <p class="text-start">
                        Trung tâm cấy ghép nội tạng AMC – bệnh viện trung tâm AMC, bao gồm tám nhóm chuyên khoa với một mục tiêu chung là hỗ trợ bệnh nhân hồi phục và phục hồi chức năng và cải thiện chất lượng cuộc sống. Các đội bao gồm các bác sĩ nội khoa,
                        bác sĩ nhi khoa, bác sĩ phẫu thuật, bác sĩ gây mê, điều phối viên cấy ghép, và nhân viên chuyên ngành và y tá. Họ thực hiện ghép tạng với sự hợp tác của tất cả các bộ phận của bệnh viện như bệnh lý lâm sàng, bệnh lý chẩn đoán,
                        y học hạt nhân, dinh dưỡng, đội dịch vụ xã hội, đội ngũ dược phẩm và đội ngũ quản trị bệnh nhân với những chuyên gia hàng đầu thế giới.
                    </p>
                    <ul class="text-start mt-2">
                        <li><strong><span style="font-size: 12pt;">Đội ngũ y tế</span></strong></li>
                    </ul>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/images/bac-sy-0.jpg" />
                        </div>
                        <div class="col-md-8 text-start">
                            <p class="text-center"><span style="color: #3366ff;"><strong><em>Chuyên gia hàng đầu thế giới trong lĩnh vực ghép gan</em></strong></span></p>
                            <ul>
                                <li>Bác sĩ Lee Sung-gyu, tiến sĩ, giáo sư phẫu thuật tại Đại học Y khoa Đại học Ulsan và Trung tâm Y tế Asan, đồng thời là chủ tịch và Giám đốc điều hành của Asan Health System.</li>
                                <li>Ông đã phát minh ra nhiều kỹ thuật và giao thức khác nhau để ghép gan từ người hiến còn sống cho bệnh nhân.</li>
                                <li>Ông có các kỹ thuật hàng đầu trong cải tiến kỹ thuật LDLT, ghép gan hai thành một, ghép gan các nhóm máu ABO khác nhau và phẫu thuật cắt gan nội soi.&nbsp;</li>
                                <li>Lần đầu tiên thành công trong việc ghép gan của người hiến tặng còn sống vào năm 1994.</li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <img src="~/images/bac-sy-1.jpg" />
                        </div>
                        <div class="col-md-8 text-start">
                            <p class="text-center"><span style="color: #3366ff;"><strong><em>Bác sĩ chuyên hỗ trợ bệnh nhân Việt Nam</em></strong></span></p>
                            <ul>
                                <li>Bác sĩ Song Gi-won, Thạc sĩ Y khoa: Đại học Ulsan</li>
                                <li>Giáo sư về ghép gan và phẫu thuật gan mật, UUCM AMC</li>
                                <li>Trợ lý giáo sư, phó giáo sư về ghép gan và phẫu thuật gan mật, UUCM AMC</li>
                                <li>Trực tiếp hướng dẫn huấn luyện và tiến hành trợ giúp kĩ thuật cho tất cả các ca ghép gan của Chợ rẫy và Đại học y dược từ trước đến nay tại Việt nam</li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <p>
                        <span style="color: #a37d2e; font-size: 12pt;"><strong>DẤU ẤN</strong></span>
                    </p>
                    <img src="~/images/tien-trinh.png" />
                    <img src="~/images/dfty.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-30">
        <div class="row bg-1e">
            <div class="col-md-6">
                <h2 class="sub-heading text-center mt-30">Kênh Hỗ Trợ Thông Tin Ghép Gan</h2>
                <h2 class="heading text-center">Quy Trình Thủ Tục</h2>
                <div class="procedure-content">
                    <ul style="list-style-type: circle;">
                        <li>
                            <strong>Quy trình Ghép Gan</strong>
                            <p class="mt-2">- Tìm người thân phù hợp để hiến tạng (Các đối tác của MANAM chỉ cho phép hiến tạng giữa những người trực hệ)</p>
                            <p>- Kiểm tra điều kiện của người hiến có phù hợp</p>
                            <p>- Gửi báo cáo y tế và hình ảnh X-quang cho những người hiến tạng</p>
                            <p>- Chuẩn bị những tài liệu chứng minh cho KONOS để chứng minh quan hệ giữa bệnh nhân và người hiến</p>
                            <p>- Sau khi đến ASAN, người hiến tạng sẽ được kiểm tra đánh giá đầy đủ trước khi phẫu thuật</p>
                        </li>
                    </ul>
                    <ul style="list-style-type: circle;">
                        <li>
                            <strong>Chăm sóc sau ghép</strong><br>
                            <p class="mt-2">
                                Bệnh nhân sẽ ở lại bệnh viện khoảng ba đến năm tuần sau khi ghép gan và sẽ được thăm khám ngoại trú thường xuyên sau khi xuất viện. Để ngăn ngừa các biến chứng của cấy ghép nội tạng, tất cả bệnh nhân phải dùng thuốc ức chế
                                miễn dịch mỗi ngày. Ngoài ra, những bệnh nhân bị viêm gan B trước khi ghép gan tiêm kháng thể viêm gan B thường xuyên sẽ được chỉ định để ngăn ngừa tái phát viêm gan B sau phẫu thuật.
                            </p>
                        </li>
                        <li>
                            <strong>Hỗ trợ từ MANAM</strong>
                            <p class="mt-2">- Chuẩn bị bệnh án.</p>
                            <p>- Thông báo với phía bệnh viện bên Hàn quốc.</p>
                            <p>- Đăng kí và chọn lịch hẹn.</p>
                            <p>- Nộp xin visa và yêu cầu ưu tiên (trường hợp khẩn).</p>
                            <p>- Hỗ trợ các tài liệu, hợp thức hóa chứng nhận lãnh sự theo yêu cầu.</p>
                            <p>- Theo dõi và trợ giúp hậu ghép gan.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/images/quy-trinh-thu-tuc.png" />
            </div>
        </div>
    </div>
    <div class="container mt-30">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/Ghep-gan-o-dau-tot-nhat.jpg" />
            </div>
            <div class="col-md-6">
                <p class="heading text-center">Ghép gan ở đâu tốt nhất?</p>
                <div class="hospital-list">
                    <ol>
                        <li><u>Bệnh viện trung tâm Asan:</u></li>
                    </ol>
                    <p>
                        Bệnh viện trung tâm Asan (Asan Medical Center - AMC) là Bệnh viện Ghép Gan số 1 Thế Giới và là một trong năm Trung Tâm Ung Thư tốt nhất toàn cầu năm 2021 (theo tạp chí Newsweek). Ngoài ra, bệnh viện còn sở hữu đội ngũ các giáo sư,
                        bác sĩ có kinh nghiệm dày dặn trong lĩnh vực Ghép Gan và ghép tạng, tiêu biểu là Tiến sĩ, Bác sĩ Lee Sung-gyu – Chuyên gia hàng đầu Thế Giới trong lĩnh vực ghép gan và bác sĩ Song Gi-won – Người chuyên hỗ trợ các ca phẫu thuật
                        Ghép Gan tại Việt Nam. Đồng thời AMC cũng là đơn vị&nbsp;hỗ trợ trực tiếp cho bệnh viện Chợ rẫy, Đại học Y dược, bệnh viện Trung ương Huế trong Ghép Gan.
                    </p>
                    <ol start="2">
                        <li><u> Bệnh viện Chang Gung:</u></li>
                    </ol>
                    <p>
                        Bệnh viện Chang Gung là một trong những bệnh viện có kỹ thuật Ghép Gan hàng đầu Đài Loan với tỷ lệ sống lâu dài là 95.1% (1 năm) và 91.2% (5 năm). Có được con số này là nhờ vào sự góp mặt của Giáo sư Chao Long Chen – một trong những
                        người tiên phong trong lĩnh vực Ghép Gan khi phẫu thuật thành công ca Ghép Gan đầu tiên Châu Á.
                    </p>
                    <p>
                        Với cương vị là đại diện Bệnh viện ASAN và Chang Gung tại Việt Nam, MANAM đã cho ra đời website chính thức nhằm hỗ trợ và cung cấp toàn bộ thông tin chính thống về Ghép Gan. Đồng thời, chúng tôi sẽ liên lục cập nhật&nbsp;những thông
                        tin mới nhất và chính xác về điều trị Ghép Gan tại Hàn Quốc và Đài Loan, đặc biệt là Bệnh viện ASAN Và Bệnh viện Chang Gung, giúp cho bệnh nhân Việt Nam có thêm cơ hội trong việc điều trị bệnh tại Hàn Quốc và Đài Loan với dịch
                        vụ và hỗ trợ tốt nhất.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-30">
        <div class="row bg-1e">
            <div class="col-md-12">
                <h2 class="sub-heading text-center mt-30">Thông Tin</h2>
                <h2 class="heading text-center">Câu Hỏi</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/images/ghep-gan.png" />
                            <div class="accordion mt-5 question-list" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Tại sao bệnh nhân nên ghép gan tại ASAN thay vì tại Việt Nam với sự hỗ trợ từ bệnh viện ASAN?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <span style="color: #ff0000;">Nếu bệnh nhân và gia đình không quan trọng chi phí điều trị và chủ động tài chính, bệnh nhân sẽ được <strong>sự chăm sóc tốt nhất</strong> trực tiếp từ bệnh viện ASAN với <strong>thời gian nhanh hơn</strong> và <strong>tỉ lệ sống sót cao hơn</strong>, thời gian tiến hành ghép là 01 tháng kể từ lúc sang. Tỉ lệ thành công được ghi nhận hơn 6000 trường hợp so với ở Việt Nam, làm chủ được kĩ thuật. Bệnh viện tập hợp các chuyên gia hàng đầu không chỉ trong kĩ thuật ghép, mà cơ sở vật chất hiện đại trong việc hỗ trợ liên quan đến gan và ghép gan. Ở Việt Nam thì chỉ có một bác sĩ Hàn Quốc sang hỗ trợ.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Tại sao bệnh viện trung tâm ASAN là bệnh viện tốt nhất tại Hàn Quốc trong việc ghép gan?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p><span style="color: #ff0000;">-<strong> Toàn diện</strong>: Bệnh viện trung tâm ASAN (ASAN Medical Center - AMC) là cơ sở y tế lớn nhất và tốt nhất của Hàn Quốc, nằm ở phía đông của Seoul, với 2.700 giường bệnh, 67 phòng mổ, với 1.700 bác sĩ và bác sĩ phẫu thuật, 3.600 y tá, 24 trung tâm và 42 chuyên khoa điều trị.</span></p>
                                            <p><span style="color: #ff0000;">- <strong>Thành công</strong>: Được thành lập vào năm 1991, Trung tâm Ghép tạng AMC đã thực hiện thành công ca cấy ghép tim đầu tiên của Hàn Quốc và ca ghép gan đầu tiên trên thế giới, cùng với đó là các ca ghép thận và tuyến tụy, giúp cho bệnh viện ASAN trở thành một bệnh viện hàng đầu thế giới trong lĩnh vực này. Với 41 bác sĩ tại trung tâm, dưới sự giám sát của giám đốc - Giáo sư Sung Gyu Lee chuyên gia hàng đầu về ghép tạng trên thế giới.</span></p>
                                            <p><span style="color: #ff0000;">- Trung tâm y tế Asan đã <strong>dẫn đầu sự phát triển y tế của Hàn Quốc</strong> bằng cách làm hài lòng khách hàng vì được trang bị các chuyên gia y tế đẳng cấp thế giới và hệ thống điều trị tối ưu dựa trên các hệ thống y tế tiên tiến cũng như thiết bị y tế tiên tiến.</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Tại sao nên liên lạc MANAM nếu bệnh nhân có nhu cầu ghép gan tại ASAN?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <span style="color: #ff0000;">Khác với các đơn vị dịch vụ thông thường, là văn phòng Ủy nhiệm nhận bệnh chính thức của hai bệnh viện ghép gan hàng đầu thế giới là Bệnh viện trung tâm ASAN (Hàn Quốc) và Bệnh viện Chang Gung (Đài Loan); MANAM giúp bệnh nhân Việt Nam rút ngắn thời gian chờ đợi, đơn giản hóa thủ tục và hạn chế tối đa những chi phí phát sinh không cần thiết trong suốt quá trình ghép gan. Nói không với phí dịch vụ và thậm chí có thể yêu cầu trợ giá cho bệnh nhân. Duy nhất MANAM chọn lựa được bác sĩ hàng đầu thông qua kênh chính thống. Đồng thời, bệnh nhân còn nhận được tư vấn toàn diện từ đội ngũ chuyên môn về những vấn đề kế hoạch điều trị liên quan đến tình trạng bệnh trước và sau ghép; trao đổi liên tục với phía bệnh viện và bác sĩ phụ trách.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Yêu cầu người hiến gan phải như thế nào?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul style="list-style-type: disc;">
                                                <li><span style="color: #ff0000;">Hoàn toàn tự nguyện</span></li>
                                                <li><span style="color: #ff0000;">Sức khỏe tốt – về cả thể chất lẫn tinh thần</span></li>
                                                <li><span style="color: #ff0000;">Độ tuổi từ 18 – 60</span></li>
                                                <li><span style="color: #ff0000;">Chỉ số BMI dưới 35</span></li>
                                                <li><span style="color: #ff0000;">Nhóm máu tương thích với người nhận</span></li>
                                                <li><span style="color: #ff0000;">Không mắc bệnh liên quan đến nội tạng, ví dụ như&nbsp;bệnh tim hay sỏi thận…</span></li>
                                                <li><span style="color: #ff0000;">Không bị ung thư, HIV hay viêm gan</span></li>
                                                <li><span style="color: #ff0000;">Không bị nhiễm trùng mãn tính</span></li>
                                                <li><span style="color: #ff0000;">Không lạm dụng chất kích thích</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Thời gian nằm viện là bao lâu?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul style="list-style-type: disc;">
                                                <li><span style="color: #ff0000;">Người nhận: 6-8 tuần</span></li>
                                                <li><span style="color: #ff0000;">Người hiến 1-2 tuần</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Chi phí ước tính là bao nhiêu?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li><span style="color: #ff0000;">Từ 250.000 USD-280.000 USD, nhưng khi <strong>thông qua dịch vụ MANAM</strong>, chi phí chỉ còn khoảng <strong>150.000 USD</strong> (tầm 4.000.000.000 VND)</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-5">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            Ghép gan có cần tương thích nhóm máu?
                                        </button>
                                    </h2>
                                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p><span style="color: #ff0000;"><strong>Có</strong> cần tương thích nhóm máu</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-1">
        <div class="row bg-1e">
            <div class="col-md-6">
                <h2 class="sub-heading text-center mt-30">Kênh Hỗ Trợ Thông Tin Ghép Gan</h2>
                <h2 class="heading text-center">Các Vấn Đề Bệnh Nhân Phải Đối Mặt Sau Ghép Gan</h2>
                <div class="problems-content">
                    <p>
                        Người nhận gan đóng góp trực tiếp vào sự thành công của toàn bộ ca quá trình ghép. Không tuân thủ phác đồ ức chế miễn dịch là nguyên nhân số một dẫn đến suy nội tạng. Theo dõi chặt chẽ với đội ngũ thực hiện cấy ghép và bác sĩ quản
                        lý chính sau ghép giúp đảm bảo kết quả phục hồi. Chú ý cẩn thận đến việc dùng thuốc, thay đổi lối sống, các kỹ thuật tránh nhiễm trùng đều là những cách quan trọng để duy trì cuộc sống khỏe mạnh sau khi ghép gan.
                    </p>
                    <p>Những nguy cơ sau ghép dẫn đến tử vong nếu không quản lý tốt ở trình độ cao nhất:</p>
                    <p>- Hai trong số những biến chứng nghiêm trọng thường gặp nhất sau khi Ghép Gan:</p>
                    <ul>
                        <li>
                            Thải ghép (Từ chối): Hệ thống miễn dịch hoạt động để tiêu diệt các thành phần lạ xâm nhập cơ thể bạn. Tuy nhiên, hệ thống miễn dịch không thể phân biệt sự khác biệt giữa gan được cấy ghép và những tế bào gây hại, vì vậy nó cố gắng
                            tấn công và phá hủy phần gan mới được cấy vào. Đây được gọi là đào thải ghép - rủi ro xấu nhất trong ghép gan thường gặp tại Việt Nam, nhất là trong ghép gan người hiến sống và không cùng trực hệ. Thống kê ở các viện lớn, hơn
                            30% tổng số bệnh nhân ghép gan bị đào thải nội tạng ở mức độ nhẹ đến nặng trong năm đầu tiên. Bệnh nhân sẽ được cho dùng thuốc chống thải ghép để tránh sự tấn công của hệ thống miễn dịch, tuy nhiên ở những trường hợp khó đòi
                            hỏi nhiều hơn thế. Nếu không là bệnh viện Asan khả năng xử lý sẽ rất kém dẫn đến tử vong.
                        </li>
                        <li>
                            Nhiễm trùng: Do thuốc chống thải ghép ức chế hệ thống miễn dịch, bệnh nhân ghép gan có nhiều nguy cơ bị nhiễm trùng. Vấn đề này giảm dần theo thời gian do đó phải quản lý kĩ, chặt chẽ. Không phải tất cả bệnh nhân đều gặp vấn đề
                            với nhiễm trùng và hầu hết các bệnh nhiễm trùng đều có thể được điều trị thành công khi nguy cơ này xảy ra với các cơ sở ghép gan chuyên môn cao.
                        </li>
                    </ul>
                    <p>- Ngoài ra còn có những rủi ro nguy hiểm ít thường gặp hơn như:</p>
                    <ul>
                        <li>
                            Biến chứng: Chảy máu (trong ổ bụng từ tổn thương mạch máu lớn hoặc vết mổ). Nhiễm trùng: viêm phổi, nhiễm trùng đường tiểu hay vết mổ: liên quan tình trạng ức chế miễn dịch, áp xe tồn dư...; Suy gan cấp: thải ghép cấp - nguy cơ
                            phải lọc máu, lọc huyết tương. Thải ghép mạn, suy thận mạn. Hẹp đường mật, tắc động mạch hay tĩnh mạch gan, tĩnh mạch cửa do hẹp hoặc do huyết khối. Các biến chứng do dùng thuốc thải ghép. Biến chứng ngoại khoa: Tắc ruột, thoát
                            vị vết mổ, viêm phổi, huyết khối tĩnh mạch sâu.
                        </li>
                        <li>
                            Ngoài các biến chứng có thể gặp phải nêu trên còn có thể gặp các vấn đề khác. Đau bụng: đau vết mổ và vùng mổ bên trong. Chậm nhu động ruột: bụng chướng, đầy hơi, chậm trung tiện. Có thể gặp tràn dịch màng phổi phải phản ứng. Tràn
                            dịch ổ bụng do báng hoặc dò mật sau mổ. Nhiễm trùng, áp xe dưới hoành. Tắc mạch huyết khối tĩnh mạch sau trường hợp nằm lâu ngày...
                        </li>
                        <li>
                            Phần lớn người Ghép Gan phục hồi sau phẫu thuật, có thể đi làm và sinh hoạt bình thường. Nhưng cũng có một số khác có những vấn đề ngay sau phẫu thuật hoặc sau một vài năm:
                            <ul style="list-style-type: square;">
                                <li>Đào thải lá gan mới: Mội số bệnh nhân mặc dù đã uống thuốc chống đào thải, cơ thể vẫn không tiếp nhận lá gan mới</li>
                                <li>Bệnh gan tái phát: Có một số bệnh gan có thể tái phát sau cấy ghép</li>
                                <li>
                                    Tác dụng phụ của thuốc chống đào thải: Thuốc có tác dụng phụ trong thời gian ngắn. Ví dụ, thuốc làm tăng nguy cơ bị nhiễm trùng. Thuốc cũng có những tác dụng phụ lâu dài. Ví dụ, thuốc có thể làm tăng nguy cơ mắc phải của
                                    một số loại ung thư.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="~/images/van-de-thuong-gap.png" />
            </div>
        </div>
    </div>
    <div class="container mt-30">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">VIDEO</h2>
                <div class="card">
                    <div class="card-body">
                        @*<iframe width="100%" height="400px" src="https://www.youtube.com/embed/2xl2IZ3B8uA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="text-center">Thành Tựu</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card news">
                            <img src="~/images/ghep-gan-Dong-Hwan.png" class="card-img-top" alt="Image">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Ghép gan cho bệnh gan chuyển hóa: Trải nghiệm tại Trung tâm ghép gan do người hiến tặng còn sống</a></h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card news">
                            <img src="~/images/ghep-gan-Dong-Hwan.png" class="card-img-top" alt="Image">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Ghép gan cho bệnh gan chuyển hóa: Trải nghiệm tại Trung tâm ghép gan do người hiến tặng còn sống</a></h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-30">
                        <button type="button" class="btn bg-green">Xem Thêm >>></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-30">
        <div class="row">
            <div class="col-md-12">
                <div class="card news-list">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/images/ghep-gan-Dong-Hwan.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Card title</a></h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="container-fluid mt-5">
        <div class="row bg-1e footer">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="company-footer">
                                <a href="https://ghepgan.vn/">
                                    <img src="~/images/logo.png" alt="MANAM" title="Logo">
                                </a>
                                <p></p>
                                <p>
                                    Văn phòng ủy nhiệm bệnh viện Asan
                                </p>
                                <p>
                                    <i class="fa fa-home me-1" aria-hidden="true"></i>VP: 235b Nguyễn Văn Cừ, Quận 1, TP.HCM | VPĐD : 74 Nguyễn Văn Linh, Hải Châu, Đà Nẵng
                                </p>
                                <p>
                                    <i class="fa fa-envelope me-1" aria-hidden="true"></i>Email: care@manam.vn</span>
                                </p>
                                <p>
                                    <i class="fa fa-phone me-1" aria-hidden="true"></i>Sài Gòn: 0283 920 77 88 - 0907 88 7790 | Đà Nẵng: 0899 88 77 90
                                </p>
                                <p>Tìm hiểu thêm thông tin về MANAM tại <a href="https://manam.vn">manam.vn</a> </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="navigation-footer">
                                <h5>Menu Chính</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="#">Trang Chủ</a></li>
                                    <li class="list-group-item"><a href="#">Tổng Quan</a></li>
                                    <li class="list-group-item"><a href="#">Giải Pháp</a></li>
                                    <li class="list-group-item"><a href="#">Câu Hỏi Thường Gặp</a></li>
                                    <li class="list-group-item"><a href="#">Vấn Đề Sau Ghép</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="navigation-partner">
                                <p>Thông tin thuộc về Manam & AMC</p>
                                <img src="~/images/asan-logo.png" alt="MANAM" title="Logo">
                                <p class="mt-2">Dưới sự cho phép chính thức của AMC 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
