<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#30adc5" />
    <title>GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới</title>
    <link rel="icon" type="image/x-icon" href="~/images//logo.png">
    <meta property="og:url" content="https://ghepgan.vn/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta property="og:description" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta property="og:image:alt" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta property="og:image" content="https://ghepgan.vn/images/logo-1200x630.png" />
    <meta name="twitter:image" content="https://ghepgan.vn/images/logo-1200x630.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta name="twitter:title" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <title>GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới</title>
    <meta name="description" content="GHÉP GAN | MANAM kênh hỗ trợ chính thức Bệnh viện Asan giỏi nhất thế giới" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/style.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light liver-transplantation-navigation">
            <div class="container-fluid" id="nagivation-container">
                <a class="navbar-brand" href="~/">
                    <img src="~/images/logo.png" width="100" height="70" alt="" />
                </a>
                <a class="navbar-brand" href="~/">
                    <img src="~/images/logo.jpg" width="80" height="80" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="~/">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tong-quan">Tổng Quan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#giai-phap">Giải Pháp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#quy-trinh">Quy Trình Thủ Tục</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cau-hoi">Câu Hỏi Thường Gặp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#van-de">Vấn Đề Sau Ghép</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()

    <footer class="container-fluid mt-5">
        <div class="row bg-1e footer">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="company-footer">
                                <a href="https://ghepgan.vn/">
                                    <img src="~/images/logo.png" alt="MANAM" title="Logo">
                                </a>
                                <p></p>
                                <p>
                                    Văn phòng ủy nhiệm bệnh viện Asan
                                </p>
                                <p>
                                    <i class="fa fa-home me-1" aria-hidden="true"></i>VP: 235b Nguyễn Văn Cừ, Quận 1, TP.HCM | VPĐD : 74 Nguyễn Văn Linh, Hải Châu, Đà Nẵng
                                </p>
                                <p>
                                    <i class="fa fa-envelope me-1" aria-hidden="true"></i>Email: care@manam.vn</span>
                                </p>
                                <p>
                                    <i class="fa fa-phone me-1" aria-hidden="true"></i>Sài Gòn: 0283 920 77 88 - 0907 88 7790 | Đà Nẵng: 0899 88 77 90
                                </p>
                                <p>Tìm hiểu thêm thông tin về MANAM tại <a href="https://manam.vn">manam.vn</a> </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="navigation-footer">
                                <h5>Menu Chính</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="~/">Trang Chủ</a></li>
                                    <li class="list-group-item"><a href="#tong-quan">Tổng Quan</a></li>
                                    <li class="list-group-item"><a href="#giai-phap">Giải Pháp</a></li>
                                    <li class="list-group-item"><a href="#cau-hoi">Câu Hỏi Thường Gặp</a></li>
                                    <li class="list-group-item"><a href="#van-de">Vấn Đề Sau Ghép</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="navigation-partner">
                                <p>Thông tin thuộc về Manam & AMC</p>
                                <img src="~/images/asan-logo.png" alt="MANAM" title="Logo">
                                <p class="mt-2">Dưới sự cho phép chính thức của AMC 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
