<div class="container" id="giai-phap">
    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-heading text-center mt-30">Kênh Hỗ Trợ Thông Tin Ghép Gan</h2>
            <div class="introduce-content">
                <h2 class="heading">Ghép Gan</h2>
                <img src="~/images/ti-le-song.png" />
                <p>AMC (ASAN MEDICAL CENTER): Bệnh viện trung tâm ASAN</p>
                <p>KONOS (KOREAN NETWORK FOR ORGAN SHARING): Mạng lưới chia sẻ cơ quan nội tạng ở Hàn Quốc</p>
                <p>UNOS (UNITED NETWORK FOR ORGAN SHARING): Mạng lưới chia sẻ cơ quan nội tạng ở Hoa Kỳ</p>
                <p>
                    Gan là một cơ quan quan trọng để duy trì sự sống. Các chức năng của nó rất đa dạng và phức tạp mà không có thiết bị nhân tạo nào có thể thay thế nó. Do đó, cách duy nhất để điều trị bệnh nhân mắc bệnh gan giai đoạn cuối là Ghép Gan.
                    Bệnh Viện Asan Hàn Quốc đã thành công trong ca Ghép Gan cho người hiến gan sống đầu tiên vào năm 1994.
                </p>
                <img src="~/images/thoi-gian-ghep-gan.png" />
                <ul class="text-start mt-2">
                    <li>
                        <strong><span>Giải pháp điều trị bệnh</span></strong>
                        <ul style="list-style-type: circle;">
                            <li>
                                Người nhận
                                <ul style="list-style-type: square;">
                                    <li>
                                        Bệnh nhân trưởng thành mắc các bệnh gan giai đoạn cuối như xơ gan, ung thư gan và suy gan cấp tính cấp tính và bệnh nhân nhi bị xơ gan bẩm sinh, viêm đường mật và bệnh gan chuyển hóa đều là chỉ định cho ghép gan.
                                        Việc người nhận có phải là ứng cử viên tốt cho ghép gan hay không được xác định bằng cách kiểm tra và phân tích từng bệnh nhân.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Người hiến
                                <ul style="list-style-type: square;">
                                    <li>
                                        Gan là một cơ quan có thể được ghép một phần hoặc toàn bộ. Bệnh nhân có thể nhận được một phần gan từ các thành viên gia đình hoặc toàn bộ gan từ bệnh nhân chết não. Người hiến gan còn lại tái sinh, cho phép người
                                        hiến có một cuộc sống khỏe mạnh bình thường mà không gặp rủi ro. Một người cho và người nhận phải có cùng bản dựng và phải có nhóm máu tương thích, và khả năng hiến được xác định sau khi kiểm tra kỹ lưỡng. Một
                                        người hiến tặng có chức năng gan bình thường và khỏe mạnh đủ tiêu chuẩn là một ứng cử viên hiến tặng miễn là gan không bị bệnh, nhiễm trùng và ung thư. Nếu nhóm máu của người cho và người nhận không tương thích,
                                        trao đổi huyết tương trị liệu trước phẫu thuật có thể được thực hiện. Chuyên gia hàng đầu tại Hàn Quốc về Ghép Gan
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="text-start mt-2">
                    <li>
                        <strong><span>Bệnh viện ghép gan tốt nhất thế giới</span></strong>
                    </li>
                </ul>
                <p class="text-start">
                    Trung tâm cấy ghép nội tạng AMC – Bệnh Viện Asan, bao gồm tám nhóm chuyên khoa với một mục tiêu chung là hỗ trợ bệnh nhân hồi phục và phục hồi chức năng và cải thiện chất lượng cuộc sống. Các đội bao gồm các bác sĩ nội khoa,
                    bác sĩ nhi khoa, bác sĩ phẫu thuật, bác sĩ gây mê, điều phối viên cấy ghép, và nhân viên chuyên ngành và y tá. Họ thực hiện ghép tạng với sự hợp tác của tất cả các bộ phận của bệnh viện như bệnh lý lâm sàng, bệnh lý chẩn đoán,
                    y học hạt nhân, dinh dưỡng, đội dịch vụ xã hội, đội ngũ dược phẩm và đội ngũ quản trị bệnh nhân với những chuyên gia hàng đầu thế giới.
                </p>
                <ul class="text-start mt-2">
                    <li><strong><span>Đội ngũ y tế</span></strong></li>
                </ul>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/bac-sy-0.jpg" />
                    </div>
                    <div class="col-md-8 text-start">
                        <p class="text-center"><span style="color: #3366ff;"><strong>Chuyên gia hàng đầu thế giới trong lĩnh vực ghép gan</strong></span></p>
                        <ul>
                            <li>Bác sĩ Lee Sung-gyu, tiến sĩ, giáo sư phẫu thuật tại Đại học Y khoa Đại học Ulsan và Trung tâm Y tế Asan, đồng thời là chủ tịch và Giám đốc điều hành của Asan Health System.</li>
                            <li>Ông đã phát minh ra nhiều kỹ thuật và giao thức khác nhau để ghép gan từ người hiến còn sống cho bệnh nhân.</li>
                            <li>Ông có các kỹ thuật hàng đầu trong cải tiến kỹ thuật LDLT, ghép gan hai thành một, ghép gan các nhóm máu ABO khác nhau và phẫu thuật cắt gan nội soi.&nbsp;</li>
                            <li>Lần đầu tiên thành công trong việc ghép gan của người hiến tặng còn sống vào năm 1994.</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row mt-2">
                    <div class="col-md-4">
                        <img src="~/images/bac-sy-1.jpg" />
                    </div>
                    <div class="col-md-8 text-start">
                        <p class="text-center"><span style="color: #3366ff;"><strong>Giáo sư chuyên hỗ trợ bệnh nhân Việt Nam</strong></span></p>
                        <ul>
                            <li>Bác sĩ Song Gi-won, Thạc sĩ Y khoa: Đại học Ulsan</li>
                            <li>Giáo sư về ghép gan và phẫu thuật gan mật, UUCM AMC</li>
                            <li>Trợ lý giáo sư, phó giáo sư về ghép gan và phẫu thuật gan mật, UUCM AMC</li>
                            <li>Trực tiếp hướng dẫn huấn luyện và tiến hành trợ giúp kĩ thuật cho tất cả các ca ghép gan của Chợ rẫy và Đại học y dược từ trước đến nay tại Việt nam</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <p>
                    <span style="color: #a37d2e; font-size: 35px"><strong>DẤU ẤN</strong></span>
                </p>
                <img src="~/images/tien-trinh.png" />
                <img src="~/images/dfty.png" />
            </div>
        </div>
    </div>
</div>