<div class="container-fluid mt-30" id="quy-trinh">
    <div class="row bg-1e">
        <div class="col-md-6">
            <h2 class="sub-heading text-center mt-30">Kênh Hỗ Trợ Thông Tin Ghép Gan</h2>
            <h2 class="heading text-center">Quy Trình Thủ Tục</h2>
            <div class="procedure-content">
                <ul style="list-style-type: circle;">
                    <li>
                        <strong>Quy trình Ghép Gan</strong>
                        <p class="mt-2">- Tìm người thân phù hợp để hiến tạng (Các đối tác của MANAM chỉ cho phép hiến tạng giữa những người trực hệ)</p>
                        <p>- Kiểm tra điều kiện của người hiến có phù hợp</p>
                        <p>- Gửi báo cáo y tế và hình ảnh X-quang cho những người hiến tạng</p>
                        <p>- Chuẩn bị những tài liệu chứng minh cho KONOS để chứng minh quan hệ giữa bệnh nhân và người hiến</p>
                        <p>- Sau khi đến ASAN, người hiến tạng sẽ được kiểm tra đánh giá đầy đủ trước khi phẫu thuật</p>
                    </li>
                </ul>
                <ul style="list-style-type: circle;">
                    <li>
                        <strong>Chăm sóc sau ghép</strong><br>
                        <p class="mt-2">
                            Bệnh nhân sẽ ở lại bệnh viện khoảng ba đến năm tuần sau khi ghép gan và sẽ được thăm khám ngoại trú thường xuyên sau khi xuất viện. Để ngăn ngừa các biến chứng của cấy ghép nội tạng, tất cả bệnh nhân phải dùng thuốc ức chế
                            miễn dịch mỗi ngày. Ngoài ra, những bệnh nhân bị viêm gan B trước khi ghép gan tiêm kháng thể viêm gan B thường xuyên sẽ được chỉ định để ngăn ngừa tái phát viêm gan B sau phẫu thuật.
                        </p>
                    </li>
                    <li>
                        <strong>Hỗ trợ từ MANAM</strong>
                        <p class="mt-2">- Chuẩn bị bệnh án.</p>
                        <p>- Thông báo với phía bệnh viện bên Hàn quốc.</p>
                        <p>- Đăng kí và chọn lịch hẹn.</p>
                        <p>- Nộp xin visa và yêu cầu ưu tiên (trường hợp khẩn).</p>
                        <p>- Hỗ trợ các tài liệu, hợp thức hóa chứng nhận lãnh sự theo yêu cầu.</p>
                        <p>- Theo dõi và trợ giúp hậu ghép gan.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/quy-trinh-thu-tuc.png" />
        </div>
    </div>
</div>